<%- include('bootheader') -%>
  <%- include('menubar') -%>

    <style>
      h1{
        color: rgb(252, 81, 133);
      }
    </style>

    <div class="jumbotron">
      <center>
        <div style="width: 70%;">
          <h1>Who are we <i class="far fa-question-circle fa-xs"></i></h1>
          <hr>
          <b>
            <h5>
              We are the reason you will never hire an event orginizer again. We're putting
              the power in your hands and automating all coordination between your venue and 
              your service providers for you events. Tell us what you're looking for and we'll
              coordinate the perfect event.
            </h5>
          </b>

          <br><br><br>

          <h1>Why are we here <i class="far fa-question-circle fa-xs"></i></h1>
          <hr>
          <b>
            <h5>
              We've worked in even orginizaing for the past decade. we have come to realize
              that it is a nightmare for anyone outside the profession to coordenate between the
              venues, suppliers, and services and insure that an event go off without any issues.
            </h5>
          </b>

          <br><br><br>
          <h1>why you should use us <i class="far fa-question-circle fa-xs"></i></h1>
          <hr>
          <b>
            <h5>
              When you use our service we guarantee that you recieve the services you paid for. So if the florist 
              who signed on with you cancels that same day you can rest easy and leave things to us. We'll make sure 
              anything you planned to be there is there. 
            </h5>
          </b>
          
        </div>

      </center>
    </div>
























    <!-- <div class="row">

  <div class="col bg-warning text-danger">
    <p>
      I am the chair of the Computer Science Department at Brandeis University.
      I was a Brandeis undergrad in 1973-1977 then got my PhD at University
        of Chicago in Mathematics.
    </p>
    <p>
      I grew in New Mexico from ages 5-17.
    </p>

    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Lincoln Nebraska</li>
        <li> Albuquerque, NM</li>
        <li> Las Cruces, NM</li>
      </ul>
    </div>

    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="http://www.brandeis.edu">Brandeis</a></li>
      <li> <a href="http://www.cs.brandeis.edu/~tim">My website</a></li>
    </ul>
  </div>
  <div class="col">
    Column 2
  </div>

  <div class="col">
    <img src="https://www.cs.brandeis.edu/~tim/hickey-apr08.gif"
     width="100%" alt="photo of Tim Hickey" >
  </div>

</div>

<div class="row">
  <div class="col bg-primary">
    primary
  </div>
  <div class="col">
    This is a column .....<br><br>Cool!
  </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
    <div class="col bg-primary">
      primary
    </div>
    <div class="col">
      This is a column .....<br><br>Cool!
    </div>
</div>
-->

    <%- include('bootfooter') -%>