<%- include('bootheader') -%>

<%- include('menubar') -%>

<link rel="stylesheet" href="./styles/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
        var dateArray = new Array();
</script>


<body>
    <main class="container">
        <header class="col-sm-12">
            <h1>Please enter dates when you are avilable:</h1>
        </header>
        <section class="col-sm-12">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="pickeddate"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <center>
                <button type="button" class="btn btn-lg btn-primary"  onclick="addDate()">Available</button>
                <button type="button" class="btn btn-lg btn-primary" onclick="removeDate()">Not Available</button>
                <div id="bookedDates"></div>
            </center>
        </section>
        <footer>

        </footer>
    </main>
    <script type="text/javascript">
        $(function() {
            // $('#datetimepicker1').datetimepicker();
            $('#datetimepicker1').datetimepicker( {
                locale: moment().local('en'),
                format: 'YYYY-MM-DD'
            }); 
        });

        function addDate(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("pickeddate").value;
            if(dateArray.indexOf(inputVal) !== -1){    
            } else{
                dateArray.push(inputVal)
            }

            displayDates()
            // dateArray.push(inputVal)
            // alert(dateArray.toString())

            // for(var i =0; i<dateArray.length;i++){
            //     if(){
            //         document.getElementById("bookedDates1").insertAdjacentHTML("afterend","<h1>hello</h1>")
            //     }
            // }
        }

        function removeDate(){
            // Selecting the input element and get its value 
            var newDateArray = new Array();
            for(var i =0; i<dateArray.length;i++){
                if(document.getElementById("pickeddate").value != dateArray[i]){
                    newDateArray.push(dateArray[i])
                }
            }
            dateArray = newDateArray

            displayDates()
            
            // document.getElementById("bookedDates").innerText = dateArray.toString()
            // alert(newDateArray.toString())
            // var inputVal = document.getElementById("pickeddate").value;
            //  dateArray.push(inputVal)
        }

        function displayDates(){
            document.getElementById("bookedDates").innerText = dateArray.toString()
            var str ="<br><br>"
            dateArray.forEach(function(date) {
                if(date.length !=0){
                    str += '<button type="button" class="btn btn-lg btn-success" style="margin-left:0.5em; margin-right:0.5em; background-color:green;" disabled>'+ date + '</button>';
                }
            }); 
            document.getElementById("bookedDates").innerHTML = str
        }
</script>
<%- include('bootfooter') -%>