<%- include('bootheader') -%>
   <%- include('menubar') -%>
      <br><br><br>

      <head>
         <script src="jquery-3.5.1.min.js"></script>
         <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <style>
            .clip-star {
               background: gold;
               clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
               display: inline-block;
               height: 1em;
               width: 1em;
            }

            #fixedheight {
               table-layout: fixed;
            }

            #fixedheight td {
               height: 7em;
               overflow: hidden;
            }


            a:hover {
               color: rgb(0, 174, 255);
            }

            tr:nth-child(odd) a {
               color: white;
            }

            tr:nth-child(even) a {
               color: black;
            }

            tr:nth-child(odd) img {
               border: 3px solid white;
            }

            tr:nth-child(even) img {
               border: 3px solid rgb(252, 81, 133);
            }
         </style>
      </head>
      <div class="jumbotron">
         <center>
            <h2>Choose your dates and services!</h2>
            <h5> Please fill out the form below with your desired dates, venue, and services</h5>
         </center>
         <br><br>
      </div>



      <section id="venues_list"></section>
      <h4>Below is the list of avilable venues in your area :</h4>
      <hr>
      <table class="table table-striped" id="fixedheight">
         <thead>
            <tr>
               <th scope="col"></th>
               <th scope="col">Name</th>
               <th scope="col">Address</th>
               <th scope="col">Rating</th>
               <th scope="col">Opening Hours</th>
               <th scope="col">Amenities</th>
            </tr>
         </thead>

         <tbody>

            <!-- ----- Start of row one ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img src="https://rhino-lounge.com/wp-content/themes/mad/img/logo.png" alt=""
                           style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>RHINO RESTAURANT & LOUNGE</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        11 Cooper St, Waltham, MA 02453
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                          based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Tue - Sat 5-11 pm</td>
                  <td class="align-middle">Dine-in · Curbside pickup</td>
               </center>
            </tr>
            <!-- ----- Start of row one ----- -->



            <!-- ----- Start of row two ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img
                           src="https://static.wixstatic.com/media/1cee1b_37f9f3cc99a8495980498c2fbe9b0633~mv2.jpg/v1/fill/w_900,h_675,al_c,q_85,usm_0.66_1.00_0.01/historic%20picture.webp"
                           alt="" style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>Commander's Mansion</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        440 Talcott Ave, Watertown, MA 02472
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                          based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Mon - Fri 9am - 3pm</td>
                  <td class="align-middle">Catering · Outdoor Tents · Lighting · Outdoor Heating · Garden Maze</td>
               </center>
            </tr>
            <!-- ----- Start of row two ----- -->


            <!-- ----- Start of row three ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img
                           src=https://longwoodvenues.com/wp-content/uploads/2020/11/intimate_jewish_wedding_reception_venue_boston_3_Alden_Castle.jpg"
                           alt="" style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>Alden Castle: A Longwood Venue</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        20 Chapel St, Brookline, MA 02446
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                          based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Sun - Mon 8am - 1am</td>
                  <td class="align-middle">Photography · Free Wifi · Catering · DJ</td>
               </center>
            </tr>
            <!-- ----- Start of row three ----- -->



            <!-- ----- Start of row four ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img src="https://www.arlingtonma.gov/home/showpublishedimage/360/636892938418970000" alt=""
                           style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>Whittemore Robbins House</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        670R Massachusetts Ave, Arlington, MA 02476
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                          based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Mon - Wed 6pm - 3am</td>
                  <td class="align-middle">Dine-in · Inn</td>
               </center>
            </tr>
            <!-- ----- Start of row four ----- -->


            <!-- ----- Start of row five ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img
                           src="http://1ha31n3lyfeq3r6692u7004z.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/Queen-Bed-300x225.jpg"
                           alt="" style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>Crystal Ballroom (Crystal Restaurant)</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        20 Linden St, Allston, MA 02134
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                          based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Mon - Fri 9am - 5:30pm</td>
                  <td class="align-middle">Russian-Continental cuisine · shows are on offer at this sleek venue ·
                     weekend music, dancing</td>
               </center>
            </tr>
            <!-- ----- Start of row five ----- -->

            <!-- ----- Start of row six ----- -->
            <tr>
               <center>
                  <td scope="row" style="width: 15%;">
                     <container>
                        <img
                           src="https://cdn.weven.cc/1000x563vmin/venue470/80808582-ad44-45e3-9d9e-06a662774b4c_Screenshot2021-02-26at1.17.56PM.png"
                           alt="" style="max-width: 100%; max-height: 100%;">
                     </container>
                  </td>
                  <td class="align-middle"><b>Weven</b></td>
                  <td class="align-middle"><a
                        href="https://www.google.com/maps/place/RHINO+RESTAURANT+%26+LOUNGE/@42.3715457,-71.2359478,17z/data=!3m1!4b1!4m5!3m4!1s0x89e382da1f74bc03:0x3f5f80842776dd3a!8m2!3d42.3715858!4d-71.2339623">
                        Power House Building, 529 Main St Suite P200, Charlestown, MA 02129
                     </a>
                  </td>
                  <td class="align-middle">
                     <!-- Eventually we'll set up a for loop that prints these out the correct amount of times 
                                      based on what we have in the database-->
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                     <div class="clip-star"></div>
                  </td>
                  <td class="align-middle">Mon - Sun 8am - 11pm</td>
                  <td class="align-middle">Wedding venue · Catering</td>
               </center>
            </tr>
            <!-- ----- Start of row six ----- -->
         </tbody>
      </table>
      </section>

      <section id="event_details_form">
         <center>
            <div class="form-group"
               style="padding: 1.3em; border-radius: 10px; text-align: left; background-color: rgb(252, 81, 133);">
               <h5><u style="color: rgb(112, 96, 96);">Please fill out the form below:</u></h5>
               <form method="post" action="" class="" style="color:white;">
                  <h5 style="display: inline;white-space:nowrap;">What's your full name?</h5>
                  <input type="text" name="fullname" placeholder="" class="form-control"
                     style="display: inline;white-space:nowrap; width: 50%;" required><br>
                  <br>

                  <h5 style="display: inline;white-space:nowrap;">What's your phone number?</h5>
                  <input type="tel" name="fullname" placeholder="" class="form-control"
                     style="display: inline;white-space:nowrap; width: 50%;" required><br>
                  <br>

                  <h5 style="display: inline;white-space:nowrap;">When's the event ?</h5>
                  <input type="date" name="birthday" class="form-control"
                     style=" display: inline;white-space:nowrap; width: 50%;" required><br>
                  <br>
                  <!-- What is your favorite color?
                  <input type="color"
                         name="favoriteColor"> <br> -->

                  <h5 style="display: inline;white-space:nowrap;">What venue would you like to use?</h5>
                  <select name="grade1" class="form-control" style=" display: inline;white-space:nowrap; width: 50%;">
                     <option>RHINO RESTAURANT & LOUNGE</option>
                     <option>Commander's Mansion </option>
                     <option>Alden Castle: A Longwood Venue</option>
                     <option>Whittemore Robbins House</option>
                     <option>Crystal Ballroom (Crystal Restaurant)</option>
                     <option>Weven</option>
                  </select>

                  <!-- <select name="grade2">
                    <option value="9">firstyear</option>
                    <option value="10">sophomore</option>
                    <option value="11">junior</option>
                    <option value="12">senior</option>
                  </select> -->
                  <br><br>

                  <h5 style="display: inline;white-space:nowrap;">Is this an adults only event? &nbsp;</h5>
                  <input type="radio" name="over18" value="yes" class="form-control"
                     style="display: inline;white-space:nowrap;">
                  <h5 style="display: inline;white-space:nowrap;">Yes</h5>
                  <input type="radio" name="over18" value="no" class="form-control"
                     style="display: inline;white-space:nowrap;">
                  <h5 style="display: inline;white-space:nowrap;">No</h5>

                  <br><br>
                  <h5 style="display: inline;white-space:nowrap;">Please select your desired services :</h5><br>
                  <hr>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">
                        <h5>Ground transportation</h5>
                     </label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">Photography</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">florist</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">Catering</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">Band</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">DJ</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">Band</label>
                  </div>
                  <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                     <label class="form-check-label" for="flexSwitchCheckDefault">Ice sculpture</label>
                  </div>
                  <!-- <input type="checkbox" name="interest" value="Ground transportation" > Ground transportation<br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> Photography<br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> florist<br>
                  <input type="checkbox" name="interest" value="Ground transportation"> Catering<br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> Band <br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> DJ <br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> Band <br> 
                  <input type="checkbox" name="interest" value="Ground transportation"> Ice sculpture<br>  -->

                  <br>
                  <h5 style="display: inline;white-space:nowrap;">Do you have any comments?</h5><br>
                  <textarea name="bio" rows="3" cols="40" class="form-control"></textarea>
                  <br><br>
                  <input type="submit" value="Let us handle it!" class="form-control">
               </form>
            </div>

         </center>


      </section>









      <%- include('bootfooter') -%>