<%- include('bootheader') -%>

    <%- include('menubar') -%>

        <div class="jumbotron">
            <section id="intro">
                <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
                    <a class="navbar-brand" href="/"><img src="https://svgur.com/i/YaK.svg" alt="EasyVent" style="border: white solid 3px;"></a>
                    <!-- <h1>EasyVent<br><span>Event </span> Planning. Made Easy.</h1> -->
                    <h1><span>Event </span> Planning. Made Easy.</h1>
                    <p>Check out our demo below</p>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>
            </section>
        </div>

        <style>
            body {
                background-image: url("https://svgur.com/i/YZ_.svg");
                background-size: 48%;
            }
        </style>


        <%- include('bootfooter') -%>